

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    height: 10vh;
}

.section-1{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100vw;
    justify-content: space-around;

}

.btn{
    
    padding: 10px;
    cursor: pointer;
    background-color:white;
    border-radius: 30vh;
    border: 2px solid skyblue;
    font-weight: bolder;
}

.btn:hover{
    opacity: 0.6;
}

.options{
    display: grid;
    grid-template-columns: repeat(2,auto);
    height: 30vh;
    width: 30vw;
    gap: 15px;
}

.question{
    margin-bottom: 30px;
    
}



.category{
    height: 30vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;

}

.category_select{
    padding: 10px;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 4px;
}

.play-btn{
    background-color: white;
    border: 1px solid skyblue;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 4px;
    transition: ease-out 0.8s;
    font-weight: 900;
}

.play-btn:hover{
    box-shadow: inset 400px 0 0 0 skyblue;
    color: white;
}